<h1 class="alignCenter">Tabs</h1>

<mat-tab-group mat-align-tabs="start" class="marginTop">
  <mat-tab label="First">Content 1<br>
    From 1884, Cameroon was a German colony, German Kamerun, <br>with its borders drawn through negotiations between the Germans, British, <br>
    and French. After the First World War, the League of Nations mandated France to administer <br>most of the territory, with the United Kingdom
    <br>administering a small portion in the west.</mat-tab>
  <mat-tab label="Second">Content 2
  <br>
    From 1884, Cameroon was a German colony, German Kamerun, <br>with its borders drawn through negotiations between the Germans, British, <br>
    and French. After the First World War, the League of Nations mandated France to administer <br>most of the territory, with the United Kingdom
    <br>administering a small portion in the west.</mat-tab>
  <mat-tab label="Third">Content 3<br>
    From 1884, Cameroon was a German colony, German Kamerun, <br>with its borders drawn through negotiations between the Germans, British, <br>
    and French. After the First World War, the League of Nations mandated France to administer <br>most of the territory, with the United Kingdom
    <br>administering a small portion in the west.</mat-tab>
</mat-tab-group>

<mat-tab-group mat-align-tabs="center" class="marginTop">
  <mat-tab label="First">Content 1<br>
    From 1884, Cameroon was a German colony, German Kamerun, <br>with its borders drawn through negotiations between the Germans, British, <br>
    and French. After the First World War, the League of Nations mandated France to administer <br>most of the territory, with the United Kingdom
    <br>administering a small portion in the west.</mat-tab>
  <mat-tab label="Second">Content 2
    <br>
    From 1884, Cameroon was a German colony, German Kamerun, <br>with its borders drawn through negotiations between the Germans, British, <br>
    and French. After the First World War, the League of Nations mandated France to administer <br>most of the territory, with the United Kingdom
    <br>administering a small portion in the west.</mat-tab>
  <mat-tab label="Third">Content 3<br>
    From 1884, Cameroon was a German colony, German Kamerun, <br>with its borders drawn through negotiations between the Germans, British, <br>
    and French. After the First World War, the League of Nations mandated France to administer <br>most of the territory, with the United Kingdom
    <br>administering a small portion in the west.</mat-tab>
</mat-tab-group>

<mat-tab-group mat-align-tabs="end" class="marginTop">
  <mat-tab label="First">Content 1<br>
    From 1884, Cameroon was a German colony, German Kamerun, <br>with its borders drawn through negotiations between the Germans, British, <br>
    and French. After the First World War, the League of Nations mandated France to administer <br>most of the territory, with the United Kingdom
    <br>administering a small portion in the west.</mat-tab>
  <mat-tab label="Second">Content 2
    <br>
    From 1884, Cameroon was a German colony, German Kamerun, <br>with its borders drawn through negotiations between the Germans, British, <br>
    and French. After the First World War, the League of Nations mandated France to administer <br>most of the territory, with the United Kingdom
    <br>administering a small portion in the west.</mat-tab>
  <mat-tab label="Third">Content 3<br>
    From 1884, Cameroon was a German colony, German Kamerun, <br>with its borders drawn through negotiations between the Germans, British, <br>
    and French. After the First World War, the League of Nations mandated France to administer <br>most of the territory, with the United Kingdom
    <br>administering a small portion in the west.</mat-tab>
</mat-tab-group>
