<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>menu</mat-icon>
</button>

<mat-menu #menu>
  <button mat-menu-item routerLink="/">
    <mat-icon>library_books</mat-icon>
    <span>Courses</span>
  </button>
  <button mat-menu-item routerLink="about">
    <mat-icon>info</mat-icon>
    <span>About</span>
  </button>
  <button mat-menu-item routerLink="/register">
    <mat-icon>account_circle</mat-icon>
    <span>Register</span>
  </button>
  <button mat-menu-item routerLink="/table">
    <mat-icon>create</mat-icon>
    <span>Table</span>
  </button>
  <button mat-menu-item routerLink="/pagination">
    <mat-icon>table_chart</mat-icon>
    <span>Table-Pagination</span>
  </button>
  <button mat-menu-item routerLink="/filter">
    <mat-icon>filter</mat-icon>
    <span>Table-Pagination-Filter</span>
  </button>
  <button mat-menu-item routerLink="/login">
    <mat-icon>lock_open</mat-icon>
    <span>Login</span>
  </button>
</mat-menu>


